h2{
    color: white;
    font-size: 10vw;
}

h3{
    color: white;
    font-size: 8vw;
}

button {
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.btn {
    color: white;
}

#playBtn {
    display: none;
}

.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-text {
    margin: 0;
    padding-top: 120px;
    height: calc(100vh - 100vw);
    width: 100vw;
}

